.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 5vw;
  padding: 5vh 0;
  border-radius: 2.5vw;
  background-color: var(--container-color);
}

.dropbox {
  padding: 2vh 0;
}

.dropzoneborder {
  padding: 2;
  border: 2px;
}

.dropzonecoloredborder {
  padding: 2;
  border: 2px dashed var(--encryptgreen);
}


div > .button, div > .downloadbutton {
 
  font-size: var(--buttonfont);
  text-transform: none;
  background-color: var(--encryptgreen);
  color: white;
  border: 5px solid var(--encryptgreen);
}

div > .downloadbutton {
  margin-right: 15%; margin-left: 15%;
  height: fit-content;
  width: fit-content;
}
div > .button:hover, div > .downloadbutton:hover {
  background-color: var(--decryptgreen);
}
.bottomcontainer{
  position: relative;
  left: 17%;
  width: 66%;
  display: flex;
  align-self: normal;
  flex-direction: row;
  justify-content: space-around;
}
.textfields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
} 
.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}

.input-error > *, .input-error > * > * {
  color: red !important;
  border-color: red !important;
}

.errorlink, .alerttitle {
  color: inherit;
  font-weight: bold;
}

.linkbutton {
  font-weight: bold;
}

.progressbuttons {
  align-items: center;
}
@media only screen and (max-width: 1080px){
  .bottomcontainer{
    flex-direction: column;
    gap:10px;
  }
  .buttons{
    flex-direction: row;
    justify-content: space-around;
  }
}