.accordion, .guideaccordion {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: -2.5vh 1vh 2.75vh 0.5vh;
    padding: 2.5vh 1vh 0 1vh;
}

.guideaccordion {
    margin: -0.5vh 1vh 1.5vh 0.5vh;
}

div > .details {
    padding: 0
}