.link {
    color: var(--encryptgreen);
}

.icon {
    padding-right: 15px;
}

.topbox {
    display: flex;
    padding: 6vh 5vw;
    gap: 15%;
}

div > .drawer {
   background-color: var(--background-color);
    color: var(--encryptgreen);  
}