.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  height: 15vh;
}
@media only screen and (max-width:1080px){
  .dropzone{
    height: 23vh;
  }
}