h3 {
  margin: 0;
}

.info, .text, .infolink, .homelink {
  color: var(--encryptgreen);
  margin: auto;
}

.info{
  color: var(--encryptgreen);
  margin-right: 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  gap: 15%;
}
.navigationbuttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.dailycrypt{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigationbuttons > .homebutton, .navigationbuttons > .infobutton  {
  display: flex;
  align-items: center;
}

.muihomelink { 
  display: flex;
  padding: 10vh, 0;
  justify-content: center;
}

.infotext, .mainpage {
  text-decoration: underline;
}

.infolink {
  color: var(--encryptgreen);
  margin: auto;
  justify-self: right;
}

.infolink, .homelink {
  text-decoration: none;
}

.infolink:hover, .homelink:hover {
    color: var(--decryptgreen);
    transition-duration: 0.4s;
}

.divider {
  width: 90vw;
  margin: 0 5vw;
  border-bottom: 4px solid var(--encryptgreen);
}

.pic {
  height: 8vh;
}
.languagebutton{
  height: fit-content;
  width: fit-content;
}


.text {
  text-underline-offset: 1.4vh;
  margin-left: 0%;
}

.infomui {
  display: flex;
  padding: 10vh, 0;
  justify-content: center;
}
@media only screen and (max-width: 1080px){
  .header {
    gap: 20px;
  }
  .navigationbuttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    
  }
  .languagebutton{
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
  }
}
