.page{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.grid{
    width: 40%;
    gap: 20px;
}
.grid .card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    margin-bottom: 25px;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
}

.bodytext {
    color: #1e1e1e;
    margin-top: 1%;
    padding-top: 2%;
}

.infotext {
    color: var(--encryptgreen);
    margin-bottom: 1%;
    padding-bottom: 2%;
}

.divider {
    width: 90%;
    margin: 0 0vw;
    height: 0.5vh;
    background-color: var(--encryptgreen);
}

.psil {
    font-weight: bolder;
    color: var(--encryptgreen);

    &:hover {
        color: var(--decryptgreen);
        transition-duration: 0.4s;
    }
}
@media only screen and (max-width:1080px){
    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid{
        width: 90%;
    }
}