.grid {
    width: 40%;
    margin: 0 5vw;
}
.grid .card {
    display: flex;
    align-items: left;
    background-color: #ffffff;
    margin: 5vh 0vw;
    padding: 0.5vh 1vh 0vh 1vh;
}

.page{
    display: flex;
    justify-content: space-around;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    margin: 5vh 0vw;
    padding: 0.5vh 1vh 0 1vh;
}

.bodytext, .psiltitle {
    color: #1e1e1e;
    margin-top: 1%;
    padding-top: 2%;
}

.infotitle {
    color: var(--encryptgreen);
    margin-bottom: 1%;
    padding-bottom: 2%;
}

.divider {
    width: 100%;
    margin: 0 0vw;
    height: 0.25vh;
    background-color: var(--encryptgreen);
}

.psil {
    width: 25%;
}

    &:hover {
        color: var(--decryptgreen);
        transition-duration: 0.4s;
    }

@media only screen and (max-width:1080px){
    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid{
        width: 90%;
    }
    .guide{
        margin-top: 0vh;
    }
}