.tabs {
    width: 100%;
    background-color: var(--accordiongreen);
}

.pic {
    width: 100%;
}

.picturebox {
    padding: 3%;
    background-color: var(--accordiongreen);
}

.instructiontext {
    display: block;
    margin-top: 1vh;
}
